mixin menu( active1, active2, active3 )
   menu.header__menu_holder
      a( href='./index.html' class='#{active1}').menu__item О&nbsp;проекте
      a( href='./federal_operator.html'  class='#{active2}').menu__item О&nbsp;федеральном операторе
      a( href='./events.html'  class='#{active3}').menu__item Мероприятия
      //a( href='./news.html'  class='#{active4}').hover.menu__item Новости
      //a( href='./videos.html'  class='#{active5}').hover.menu__item Видео
      //a( href='./documentation.html'  class='#{active6}').hover.menu__item Документы
      //a( href='./list.html'  class='#{active7}').hover.menu__item Список &laquo;IT-КУБОВ&raquo;
