mixin finalist( nbr, title, name1, place1, name2, place2, name3, place3 )
   section.hackathon_finalists__holder.mb5
      .hackathon_finalists__caption
         .hackathon_finalists__caption_icon( class='hw__caption_icon-#{nbr}')
         h1.title !{title}
      .hackathon_finalists__list.mt2
         .row
            article.block_8
               .hackathon_finalist__name.text-22 !{name1}
               .hackathon_finalist__location.text-22 !{place1}

            article.block_8
               .hackathon_finalist__name.text-22 !{name2}
               .hackathon_finalist__location.text-22 !{place2}

            article.block_8
               .hackathon_finalist__name.text-22 !{name3}
               .hackathon_finalist__location.text-22 !{place3}
