mixin winners-plus( name1, place1, name2, place2, name3, place3 )
      article.block_8
         .hackathon_winner__img
            .hackathon_winner__place.hackathon_winner__place-2025( class='hw__place-1' )
         .hackathon_winner__location.text-22 !{place1}
         .hackathon_winner__name.text-22 !{name1}


      article.block_8
         .hackathon_winner__img
            .hackathon_winner__place.hackathon_winner__place-2025( class='hw__place-2' )
         .hackathon_winner__location.text-22 !{place2}
         .hackathon_winner__name.text-22 !{name2}


      article.block_8
         .hackathon_winner__img
            .hackathon_winner__place.hackathon_winner__place-2025( class='hw__place-3' )
         .hackathon_winner__location.text-22 !{place3}
         .hackathon_winner__name.text-22 !{name3}


