mixin article-two( photo, name, age, name1, age1, itcube, about, place, link)
   .digital_generation__article( id='#{photo}')
      .digital_generation__photo
         img( src='./assets/data/digital_generation/#{photo}.webp')
      .digital_generation__about
         h2.digital_generation__name.mb0 #{name}
            span.age !{age}
         h2.digital_generation__name #{name1}
            span.age !{age1}

         .digital_generation__info.mb15
            .answer !{itcube}


         .digital_generation__info.mb06
            p !{about}

         .digital_generation__info.mb2
            p !{place}

         a( href='#{link}' target='_blank').digital_generation__link
            span Смотреть видеоролик
            .icon
