mixin article-one-links( name, photo, age, itcube, nastavnik, about, place, link, text, morelink, moretext)
   .digital_generation__article( id='#{photo}')
      .digital_generation__photo
         img( src='./assets/data/images/digital_generation/#{photo}.webp')
      .digital_generation__about
         h2.digital_generation__name #{name}
            span.age !{age}

         .digital_generation__info.mb05
            .answer !{itcube}
         .digital_generation__info.mb15
            .question Педагог-наставник:
            .answer !{nastavnik}


         .digital_generation__info.mb06
            p !{about}

         .digital_generation__info.mb3
            p !{place}

         a( href='#{link}' target='_blank').digital_generation__link.mb1
            span !{text}
            .icon
         a( href='#{morelink}' target='_blank').digital_generation__link
            span !{moretext}
            .icon
