mixin article-team-links( name, photo, nastavnik, sostav, about, place, link1, link2)
   .digital_generation__article( id='#{photo}')
      .digital_generation__photo
         img( src='./assets/data/images/digital_generation/#{photo}.webp')
      .digital_generation__about
         h2.digital_generation__name !{name}
         .digital_generation__info.mb05
            .question Педагоги-наставники:
            .answer !{nastavnik}
         .digital_generation__info.mb15
            .question Состав команды:
            .answer !{sostav}

         .digital_generation__info.mb06
            p !{about}

         .digital_generation__info.mb2
            p !{place}

         a( href='#{link1}' target='_blank').digital_generation__link
            span Смотреть первый видеоролик
            .icon
         a( href='#{link2}' target='_blank').digital_generation__link.mt1
            span Смотреть второй видеоролик
            .icon
