mixin block( id, text1, text3, date, mongth )
   .meeting_block__holder( class='meeting_block_#{id}' )
      .text-16-regular.mbauto !{text1}
      .text-16-regular.mb-10 !{text3}
      .meeting_block__title
         .text-28-bold.mr !{date}
         .text-16-regular !{mongth}
