mixin program-3( t1, t2, caption, title, name, topic, name2, topic2, name3, topic3, place )
   .program_row
      .hackathon_program__time #{t1}&nbsp;&ndash; #{t2}
      .meeting_program__info
         .hackathon_program__caption.mb2 !{caption}
         .program_row_topic.mb15 !{title}
         .flex
            .dot &bull;
            .block
               .program_row_person.mb08 !{name}
                  i.ml03 !{topic}

         .flex
            .dot &bull;
            .block
               .program_row_person.mb08 !{name2}
                  i.ml03 !{topic2}

         .flex
            .dot &bull;
            .block
               .program_row_person.mb15 !{name3}
                  i.ml03 !{topic3}


      .hackathon_row_place.top !{place}
